{# {% extends "_layouts/cp" %} #}
{% import "_includes/forms" as forms %}

{% set title = "Matrix Horizontal Columns Settings"|t('matrix-horizontal-columns') %}

{% block content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ csrfInput() }}
        {{ actionInput('matrix-horizontal-columns/settings/save') }}
        {{ redirectInput('settings/matrix-horizontal-columns') }}

        <h2>{{ "General Settings"|t('matrix-horizontal-columns') }}</h2>

        
        {{ forms.lightswitchField({
            label: "Enable Matrix Horizontal Columns"|t('matrix-horizontal-columns'),
            id: 'enabled',
            name: 'enabled',
            on: settings.enabled,
            errors: settings.getErrors('enabled'),
        }) }}

        <hr>

        <h2>{{ "Block Type Settings"|t('matrix-horizontal-columns') }}</h2>
        <p>{{"For this plugin to work you need to have a nested Row -> Column approach to your matrix in matrix structure. Enter the handle for the entry type for each level of your matrix structure."|t}}


        {{ forms.textField({
            label: "Row Entry Type Handle"|t('matrix-horizontal-columns'),
            instructions: "Handle of the entry type you use for the 'Row' structure in your Maxtrix field. (Default: **cbRow**)"|t('matrix-horizontal-columns'),
            id: 'rowBlockType',
            name: 'rowBlockType',
            value: settings.rowBlockType,
            placeholder: 'cbRow',
            errors: settings.getErrors('rowBlockType'),
        }) }}

        {{ forms.textField({
            label: "Column Entry Type Handle"|t('matrix-horizontal-columns'),
            instructions: "Handle of the entry type you use for the 'Column' structure in your Maxtrix field.. (Default: **cbColumn**)"|t('matrix-horizontal-columns'),
            id: 'columnBlockType',
            name: 'columnBlockType',
            value: settings.columnBlockType,
            placeholder: 'cbColumn',
            errors: settings.getErrors('columnBlockType'),
        }) }}

        <hr>

        <div class="buttons">
            <button type="submit" class="btn submit">{{ "Save"|t('matrix-horizontal-columns') }}</button>
        </div>
    </form>
{% endblock %} 